pandas
numpy
pymongo
bson
joblib
requests
scikit-learn
xgboost
python-dotenv
scipy
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
faiss-cpu
transformers
huggingface-hub